FOCUSSAT_USER=
FOCUSSAT_PASS=
FOCUSSAT_PORT=8092
FOCUSSAT_CDM_URL=http://127.0.0.1:8091
FOCUSSAT_MP4DECRYPT=mp4decrypt
FOCUSSAT_SHAKA_PACKAGER=packager
FOCUSSAT_DATA_DIR=./data
FOCUSSAT_DEVICE_PROFILE=phone
FOCUSSAT_ANDROIDTV_DEVICE_TYPE=STB
FOCUSSAT_PLAYER_NAME=RxPlayer
FOCUSSAT_PLAYER_VERSION=3.29.0
FOCUSSAT_PLAYER_SMART_LIB=true
FOCUSSAT_PLAYER_LIVE=false
